@import "../../assets/styles/variables.scss";

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  input {
    height: 10px;
    border: 1px solid $medium-grey-color;
    width: 30px;
    padding: 10px;
    border-radius: 3px;
    margin-right: 20px;;
  }

  &> div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  button {
    margin-left: 20px;
  }

  p {
    font-weight: bold;
  }

}